.banner-content {
    padding-top: 300px;
    padding-left: 3rem;
    width: 45rem;
    background: transparent;
}

.banner-content h1 {
    font-size: 3.5rem;
    color: white;
    background: transparent;
    margin-bottom: 10px;
}

.banner-content h4 {
    color: white;
    background: transparent;
    padding-top: 1rem;
    font-size: 1.2rem;
}
.more{
    color:white;
}
.more:hover{
    color: black;
    background-color: white;
}
.more:hover i{
    color: black;
    background-color: white;
}