.row{
    margin-left: 20px;
    margin-bottom: 20px;
    ::-webkit-scrollbar{
        display: none;
    }
}
 .movie-row{
    display: flex;
     overflow-x: scroll; 
    margin-top: 30px;
} 
.movie{
    height: 200px;
    margin-right: 20px;
    width: 100%; 
    transition: 460ms;
}
.movie:hover{
    transform: scale(1.06);
}